:root {
  --gradient: linear-gradient(90deg, #ee6352, purple, #ee6352);
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125em;
  line-height: 1.6;
  color: #333;
  background: #ddd;
  background-size: 300%;
  background-image: var(--gradient);
  animation: bg-animation 25s infinite;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.content {
  width: 70vw;
  padding: 3em;
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.15);
}

.title {
  margin: 0 0 0.5em;
  text-transform: uppercase;
  font-weight: 900;
  font-style: italic;
  font-size: 3rem;
  color: #ee6352;
  line-height: 0.8;
  margin: 0;

  background-image: var(--gradient);
  background-clip: text;
  color: transparent;
  // display: inline-block;
  background-size: 300%;
  transition: background-position 1s;
}

.title:hover {
  background-position: right;
}

.fun {
  color: white;
  border: 0;
  cursor: pointer;
  padding: 0.5em 1.25em;
  background: linear-gradient(90deg, #ee6352, purple, #ee6352);
  background-size: 300%;
  background-position: left;
  transition: background-position 350ms;
}

.fun:hover {
  background-position: right;
}

h1 {
  font-family: poppins;
  font-size: 90px;
  position: absolute;
  left: 130px;
  top: 200px;
}

h2 {
  font-family: poppins;
  font-size: 50px;
  position: absolute;
  left: 132px;
  top: 340px;
}

.deco {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 42px #f09, 0 0 82px #f09,
    0 0 92px #f09, 0 0 102px #f09;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

body::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  z-index: 1;
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  height: 350px;
  width: 600px;
  border-radius: 15px;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  margin: 30px;
}

.card:hover .content {
  transform: translateY(0px);
  opacity: 1;
}
.content {
  text-align: center;
  padding: 20px;
  color: white;
  transition: 0.5s;
  transform: translateY(100px);
  opacity: 0;
}

h3 {
  position: absolute;
  top: -80px;
  left: 30%;
  font-size: 8em;
  color: rgba(255, 255, 255, 0.05);
  pointer-events: none;
}

h4 {
  font-size: 1.8em;
  color: #fff;
  z-index: 1;
}

p {
  font-size: 1em;
  color: #fff;
  font-weight: 300px;
}

a {
  position: relative;
  background-color: #fff;
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 15px;
  margin-top: 15px;
  font-weight: 500;
  display: inline-block;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

@media (min-width: 600px) {
  h1 {
    font-size: 5.625rem;
  }
}

@media (min-width: 600px) {
  h2 {
    font-size: 3.125rem;
  }
}

@media (min-width: 1200px) {
  .card {
    position: relative;
    left: 8rem;
    right: 7rem;
    bottom: 3rem;
  }
}
